@tablet-width: 768px;

@desktop-width: 1150px;

@tablet-inner-width: 668px;

@desktop-inner-width: 1050px;

@mobile-width-only: 767px;

@mobile-inner-width: 260px;

@white: #ffffff;

@semi-black: #444444;

@black: #000000;

@grey: #f1f1f1;

@lightgrey: #ececec;

@lightgreen: #63d1bb;

@green: #56c3b2;

@socials-color: #231f20;

@socials-color-hover: #46c1ae;

@copyright-image-color: #63d1bb;

@copyright-image-color-hover: #46c1ae;

@form-placeholder: #9974744d;

@categories-logo: #149080;
