.page-main--catalog {
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 111px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: @desktop-inner-width;
    grid-gap: 0 50px;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 81%;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 87%;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 100%;
  }
}

.catalog__item:hover .catalog__description-wrapper {
  box-shadow: 0 6px 10px 0 #ececec;
}

.catalog__item:active .catalog__description-wrapper {
  box-shadow: 0 3px 5px 0 #ececec;
}


.catalog__description-wrapper {
  padding: 28px 27px 26px 27px;
  display: flex;
  flex-direction: column;
  border: 1px solid @grey;
  border-top: none;

  @media (min-width: @tablet-width) {
    padding: 28px 27px 23px 33px;
    border: 1px solid @grey;
    border-left: none;
  }

  @media (min-width: @desktop-width) {
    height: 100%;
    padding: 28px 28px 23px 28px;
    border: 1px solid @grey;
    border-top: none;
  }
}

.catalog__product-header {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 89%;
  }
}

.catalog__link {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 60%;
  }

  &:active,
  &:focus {
    opacity: 30%;
  }
}

.catalog__product-description {
  font-size: 13px;
  line-height: 30px;
  color: @semi-black;
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 13px;
  }
}

.catalog__price-bucket-wrapper {
  display: flex;
  padding-top: 22px;
  margin-top: auto;
  justify-content: space-between;
  border-top: 1px solid @grey;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.catalog__bucket-button-logo {
  fill: @catalog-icon-button;
}

.catalog__bucket-button {
  width: 21px;
  height: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover .catalog__bucket-button-logo {
    fill: @catalog-icon-hover;
  }

  &:active .catalog__bucket-button-logo,
  &:focus .catalog__bucket-button-logo {
    fill: @catalog-icon-active;
  }

  @media (min-width: @tablet-width) {
    margin-right: 8px;
  }
}

.catalog__image {
  width: 400px;
  height: 500px;
}
