.catalog__header {
  .h1-header;
  background-color: @grey;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__link {
  .h3-header;
  .link;
}

.catalog__product-description {
  font-size: 13px;
  line-height: 30px;
  color: @semi-black;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.catalog__bucket-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
