.categories {
  @media (min-width: @tablet-width) {
    margin-top: -145px;
    margin-bottom: 40px;
  }
}

.categories__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 87%;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-inner-width;
  }
}

.categories__item {
  &:hover {
    @media (min-width: @tablet-width) {
      transition: transform 0.2s ease;
      transform: translateY(-5px);
    }
  }
}

.categories__link-logo {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  fill: @categories-logo;
  opacity: 50%;
}

.categories__link {
  display: block;
  text-decoration: none;
  position: relative;
  text-align: left;
  padding: 28px 120px 35px 30px;
  color: @white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;

  &--toys {
    background-color: @categories-right;

    &:hover {
      background-color: @categories-right-hover;
    }
  }

  &--interior {
    background-color: @categories-left;

    &:hover {
      background-color: @categories-left-hover;
    }
  }

  &:hover .categories__link-logo {
    opacity: 70%;
  }

  &:active .categories__link-logo {
    opacity: 30%;
  }
}
