.contacts__header {
  .h2-header;
}

.contacts__cell {
  font-size: 14px;
  line-height: 30px;
  color: @semi-black;
}

.contacts__email {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #62d1ba;
}

.contacts__address {
  font-style: normal;
}

.contacts__button {
  .button;
}
