.features {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    width: @desktop-inner-width;
  }

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 100%;
    background-image: url("../img/wave-line-mobile.svg");
    background-repeat: repeat-x;

    @media (min-width: @tablet-width) {
      height: 17px;
      background-image: url("../img/wave-line-tablet.svg");
    }

    @media (min-width: @desktop-width) {
      height: 23px;
      width: @desktop-inner-width;
      background-image: url("../img/wave-line-desktop.svg");
    }
  }
}

.features__header {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  align-self: center;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 87%;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.features__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 87%;
    grid-gap: 40px 0;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features__description {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
