.feedback {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/feedback.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-inner-width;
  }
}

.feedback__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 81%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-height: 457px;
    width: 81%;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-inner-width - 150;
    margin-left: 150px;
  }
}

.feedback__header {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    margin-top: 82px;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }
}

.feedback__blockquote {
  margin: 0;
}

.feedback__content {
  font-size: 15px;
  line-height: 30px;
  color: @semi-black;

  @media (min-width: @tablet-width) {
    max-width: @tablet-inner-width - 100;
    margin-bottom: 61px;
  }
}

.feedback__author {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-style: normal;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.feedback__nickname {
  font-weight: 400;
}

.feedback__nav-button-wrapper {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    width: 190px;
    position: absolute;
    bottom: 30px;
    right: 0;
  }
}

.feedback__button {
  height: 52px;
  width: 50%;
  padding: 0;
  background-color: @white;
  border: 1px solid @lightgrey;

  &:hover .feedback__button-logo {
    opacity: 60%;
  }

  &:active .feedback__button-logo,
  &:focus .feedback__button-logo {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    background-color: transparent;
    border: none;
  }
}

.feedback__write-button {
  display: inline-block;
  text-align: center;
  padding: 14px;
  background-color: @white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  border: 2px solid @semi-black;
  cursor: pointer;

  &:hover {
    background-color: @semi-black;
    color: @white;
  }

  &:active,
  &:focus {
    background-color: @semi-black;
    color: fade(@white, 30%);
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 30px;
    right: 0;
    width: 175px;
  }
}
