.socials {
  padding: 0;
  list-style-type: none;
}

.socials__link {
  &:hover .socials__link-logo {
    fill: @socials-color-hover;
  }
}

.socials__link-logo {
  fill: @socials-color;
}

.footer-logo__image {
  &:hover {
    opacity: 40%;
  }
}


.copyright__description {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

.copyright__link-image {
  fill: @copyright-image-color;
  &:hover {
    fill: @copyright-image-color-hover;
  }
}

.page-footer {
  background-color: @grey;
}
