.main-nav__toggle {
  width: 21px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__link {
  .link;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &:hover {
    opacity: 60%;
  }
}

.main-nav__user-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__promo-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: @grey;
}

.main-nav__promo-link {
  .link;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  &:hover {
    opacity: 60%;
  }
}

.main-nav__promo-link--delivery {
  font-weight: 400;
}

.page-header__title-wrapper {
  background-color: @grey;
}

.page-header__title {
  .h1-header;
}

.page-header__title-wrapper--index {
  min-height: 300px;
  background-image: url("../img/index-header-image.jpg");
  background-repeat: no-repeat;
}
