.page-header {
  background-position: top center;
  background-size: 100% 80px;
  background-repeat: no-repeat;
  background-color: @main-header-background;

  @media (min-width: @tablet-width) {
    background: linear-gradient(@white 1px, @white 88px, @header-border 88px, @header-border 89px, transparent 89px);
    background-color: @main-header-background;
  }

  &--catalog,
  &--form {
    background-color: @grey;
  }
}

.page-header__title-wrapper {
  display: flex;
  flex-direction: column;

  &--index {
    min-height: 362px;
    background-image: url("../img/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center 62px;
    background-size: auto 103%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }

    @media (min-width: @tablet-width) {
      min-height: 692px;
      background-image: url("../img/hero-tablet.jpg");
      background-position: center -64px;
      background-size: auto 107%;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
        background-position: center -64px;
      }
    }

    @media (min-width: @desktop-width) {
      min-height: 698px;
      background-image: url("../img/hero-desktop.jpg");
      background-position: center -64px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        min-height: 698px;
        background-image: url("../img/hero-desktop@2x.jpg");
        background-position: center -64px;
      }
    }
  }

  &--form,
  &--catalog {
    min-height: 256px;

    @media (min-width: @tablet-width) {
      min-height: 172px;
    }

    @media (min-width: @desktop-width) {
      min-height: 204px;
    }
  }
}

.page-header__title {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-top: 152px;
  padding-bottom: 20px;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 70%;
    padding-top: 38px;
    padding-bottom: 55px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;

    &--index {
      padding-top: 92px;
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 620px;
    padding-top: 36px;
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;

    &--index {
      padding-top: 92px;
    }
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    width: 87%;
    grid-template-columns: 1fr 1.08fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    width: @desktop-inner-width;
    grid-template-columns: 1fr 150px 1fr;
  }
}

.main-nav--closed:not(.main-nav--nojs) .main-nav__list,
.main-nav--closed:not(.main-nav--nojs) .main-nav__user-list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--opened {
  position: absolute;
  z-index: 2;
}

.page-header__logo-link {
  outline: none;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  height: 79px;

  @media (min-width: @tablet-width) {
    align-self: flex-start;
    min-height: 88px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
}

.page-header__logo-image {
  @media (min-width: @tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: relative;
}

.main-nav--closed {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @header-border;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -2px;
    width: 26px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  column-gap: 35px;

  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: transparent;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @header-border;

    &:first-child {
      border-top: 1px solid @header-border;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    min-height: 64px;
    max-width: 43%;
  }

  @media (min-width: @desktop-width) {
    min-height: 88px;
    max-width: 40%;


    &:first-child {
      padding-right: 36px;
      border-right: 1px solid @header-border;
    }
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 27px 30px 27px 78px;
  text-decoration: none;
  color: inherit;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  outline: none;

  &:hover {
    opacity: 60%;
  }

  &:active,
  &:focus {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;

    &--bucket {
      padding-left: 60px;
      font-size: 17px;
    }

    &--search {
      padding: 0;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 17px;
  }
}

.main-nav__search-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  fill: @header-menu-icon;

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-nav__bucket-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  fill: @header-menu-icon;

  @media (min-width: @tablet-width) {
    left: 7px;
  }
}

.main-nav__user-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 100px;
    grid-column: 3/4;
  }
}

.main-nav__user-item {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @header-border;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    min-height: 88px;
    max-width: 70%;

    &:first-child {
      border-left: 1px solid @header-border;
      border-right: 1px solid @header-border;
    }
  }
}

.main-nav__link--search {
  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 82px;
    min-height: 88px;

    & span {
      .visually-hidden;
    }
  }
}

.main-nav__promo-list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    column-gap: 30px;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/4;
    justify-content: space-between;
    column-gap: 64px;
  }
}

.main-nav__promo-item {
  display: flex;
  align-items: center;
  min-height: 64px;
  font-weight: 700;

  &:last-child {
    margin-left: auto;
    font-weight: 400;
  }

  @media (min-width: @tablet-width) {
    max-width: 70%;
  }

  @media (min-width: @desktop-width) {
    max-width: 30%;
  }
}

.main-nav__promo-link {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  line-height: 24px;

  &:hover {
    opacity: 60%;
  }

  &:active,
  &:focus {
    opacity: 30%;
  }

  &--new,
  &--sale {
    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}
