.page-header {
  &--index {
    background-image: url("../img/index-header-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    background-position: 0 88px;
  }

  &--form,
  &--catalog {
    background: linear-gradient(@white 1px, @white 88px, @header-border 88px, @header-border 89px, @grey 89px, @grey 900px);
    background-repeat: no-repeat;
    margin: 0;
  }
}

.page-header__title-wrapper {
  display: flex;
  flex-direction: column;

  &--index {
    min-height: 256px;

    @media (min-width: @tablet-width) {
      min-height: 746px;
    }
  }

  &--form,
  &--catalog {
    min-height: 256px;

    @media (min-width: @tablet-width) {
      min-height: 226px;
    }
  }
}

.page-header__title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-top: 155px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
    width: 50%;
    padding-top: 50px;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    background-color: @white;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    width: 87%;
    grid-template-columns: 1fr 1.2fr;
    grid-template-rows: minmax(88px, min-content) minmax(70px, min-content);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    width: @desktop-inner-width;
    grid-template-columns: 1fr 180px 1fr;
  }
}

.main-nav--closed:not(.main-nav--nojs) .main-nav__list,
.main-nav--closed:not(.main-nav--nojs) .main-nav__user-list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.main-nav--opened {
  position: absolute;
  z-index: 2;
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  height: 79px;

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 21px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs {
  position: relative;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 6px 0 0 @black, 0 12px 0 0 @black;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 21px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    margin-right: 70px;
  }
}

.main-nav__item {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    height: 88px;

    &:first-child {
      padding-right: 30px;
      border-right: 1px solid @header-border;
    }
  }
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: inherit;
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding: 20px 60px;
  outline: none;

  &:hover {
    opacity: 60%;
  }

  &:active,
  &:focus {
    opacity: 30%;
  }

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @header-border;
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
    padding: 0;

    &--bucket {
      font-size: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 17px;
  }
}

.main-nav__search-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-nav__bucket-icon {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);

  @media (min-width: @tablet-width) {
    left: -40px;
  }
}

.main-nav__user-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
  }
}

.main-nav__user-item {
  @media (min-width: @tablet-width) {
    height: 88px;
    display: flex;
    align-items: center;

    &:first-child {
      border-left: 1px solid @header-border;
      border-right: 1px solid @header-border;
    }
  }
}

.main-nav__link--search {
  @media (min-width: @tablet-width) {
    display: block;
    box-sizing: border-box;
    width: 82px;
    position: relative;

    & span {
      .visually-hidden;
    }
  }
}

.main-nav__promo-list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: transparent;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/4;
    justify-content: space-between;
  }
}

.main-nav__promo-item:not(:first-child) {
  @media (min-width: @desktop-width) {
    margin-left: 20px;
  }
}

.main-nav__promo-item:last-child {
  margin-left: auto;
}

.catalog__image {
  width: 100%;
  height: auto;
}

.main-nav__promo-link {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;

  &:hover {
    opacity: 60%;
  }

  &:active,
  &:focus {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.main-nav__promo-link--new,
.main-nav__promo-link--sale {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.main-nav__promo-link--delivery {
  font-weight: 400;
}
