.manufacturing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 81%;
  margin: 0 auto;
  margin-bottom: 58px;
  border: 1px solid @grey;

  &:hover {
    box-shadow: 0 6px 10px 0 #ececec;
  }

  &:active {
    box-shadow: 0 3px 5px 0 #ececec;
  }

  @media (min-width: @tablet-width) {
    width: 87%;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 683px 1fr;
    grid-template-rows: min-content 1fr min-content;
    width: @desktop-inner-width;
    margin-bottom: 106px;
  }
}

.manufacturing__header {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 90px;
  margin-right: 10px;
  margin-top: 22px;
  margin-bottom: 27px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icons/video-header.svg");
    width: 32px;
    height: 22px;
    left: -58px;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: @tablet-width) {
      left: -64px;
      top: 40%;
    }
  }

  @media (min-width: @tablet-width) {
    order: 2;
    margin-top: 40px;
    margin-left: 104px;
    margin-bottom: 25px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 79px;
    margin-bottom: 0;
    margin-top: 98px;
    align-self: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 60%;

    &::before {
      left: 0;
      top: -38px;
      transform: translateY(-50%);
    }
  }
}

.video {
  position: relative;
  display: inline-block;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.video__image {
  width: 100%;
  height: auto;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    transition: 200ms;
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.manufacturing__description {
  font-size: 13px;
  line-height: 24px;
  color: @semi-black;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    order: 3;
    width: 88%;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 79px;
    margin-top: 28px;
    margin-bottom: 0;
    width: 70%;
    font-size: 15px;
    line-height: 30px;
  }
}

.manufacturing__link {
  display: block;
  box-sizing: border-box;
  width: 62%;
  margin: 0 auto;
  padding: 14px;
  margin-bottom: 33px;
  background-color: @white;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  border: 2px solid @semi-black;
  cursor: pointer;

  &:hover {
    background-color: @semi-black;
    color: @white;
  }

  &:active,
  &:focus {
    background-color: @semi-black;
    color: @button-active-text;
  }

  @media (min-width: @tablet-width) {
    order: 3;
    margin-bottom: 44px;
    width: 88%;
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 230px;
    margin-left: 79px;
    margin-bottom: 58px;
    justify-self: flex-start;
    align-self: end;
  }
}
