.modal {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 28px 0;
  border: 1px solid @lightgrey;
  box-shadow: 0 5px 10px 0 rgba(198, 198, 198, 1);

  &::backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(254, 254, 254, 0.9);
  }

  @media (min-width: @tablet-width) {
    width: 566px;
    min-height: 336px;
    padding-bottom: 42px;
  }
}

.modal__header {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 14px;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 17px;
    font-size: 30px;
    line-height: 57px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 81%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 350px;
  }
}

.modal__form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0;
  border: none;
}

.modal__legend {
  margin-bottom: 22px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  color: @semi-black;
}

.modal__submit {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 14px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  border: 2px solid @semi-black;
  background-color: @lightgreen;
  color: @white;
  border-color: @lightgreen;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:focus,
  &:active {
    color: @semi-black;
  }
}

.modal__label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 30%;
  height: 52px;
  border: 2px solid @modal-button-border;

  &:hover {
    border-color: @modal-button-border-hover;
  }
}

.modal__input:checked + .modal__label {
  border-color: @green;
}
