.modal {
  border: 1px solid @lightgrey;
}

.modal__header {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.modal__form-group {
  border: none;
}

.modal__legend {
  font-size: 15px;
  line-height: 30px;
  color: @semi-black;
}

.modal__submit {
  display: inline-block;
  text-align: center;
  padding: 14px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  border: 2px solid @semi-black;
  cursor: pointer;
  width: 260px;
  margin: 0 auto;
  background-color: @lightgreen;
  color: @white;
  border-color: @lightgreen;
}
