.page-main {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 50px;

    &::before {
      z-index: 1;
      content: "";
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-position: center;
      background-repeat: repeat-x;
      position: absolute;
      width: 100%;
      top: -23px;
      height: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      z-index: 1;
      content: "";
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-position: center;
      background-repeat: repeat-x;
      position: absolute;
      width: 100%;
      top: -33px;
      height: 34px;
    }
  }
}
